@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: #111015;
}

header {
    margin: 1%;
    display: flex;
}

@font-face {
    font-family: Gutter_Rust_Italic;
    src: url(fonts/Gutter_Rust_Italic.otf);
}

.logo {
    display: flex;
    align-items: center;
}

.title {
    width: 100%;
}

.title p {
    width: 60%;
    margin: 3%;
    font-family: Gutter_Rust_Italic;
    font-size: 5lvh;
    pointer-events: none;
    color: #bdbecb;
}

.serach_pannel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

}

.search_bar {
    width: 50%;
    background-color: #29282C;
    padding: 0.3rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 5%;
    margin-top: 4%;
}

.search_bar input {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    text-align: left;
    width: 80%;
    height: 30px;
    margin-left: 2%;
    border: 0;
    border-bottom: 1px #bdbecb solid;
    background-color: transparent;
    outline: none;
    color: #bdbecb;
    cursor: text;
    z-index: 0;
}

.search_svg {
    position: relative;
    stroke: #bdbecb;
    width: 30px;
    height: 30px;
    pointer-events: none;
    margin-left: 1%;
}

.search_bar input:focus {
    border-bottom-color: #ffffff;
}

.search_button:hover {
    background-color: #ffffff;
    /* Change on hover */
    color: #29282C;
    /* Ensure good contrast on hover */
}

.main_weather {
    /* background-color: #ffffff; */
}

.display_box {
    display: flex;
    /* background-color: aqua; */
}

.weather_status_image_box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.weather_details {
    width: 50%;
    display: block;
}

.weather_details span {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

#city_name,
#country_name,
#sub_main_temparature,
#temparature_feel_like,
#status,
#date,
#sun_rise_time,
#sun_set_time {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #E5E5E5;
}

#city_name {
    font-size: 22px;
    /* color: #bdbecb; */
}

#country_name {
    font-size: 20px;
}

#main_temparature {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #E5E5E5;
}

#sub_main_temparature,
#temparature_feel_like {
    font-size: 15px;
}

#status {
    font-size: 28px;
    font-weight: 450;
}

#date {
    font-size: 19px;
}

.sun_rise_box,
.sun_set_box {
    background-color: #29282C;
    border-radius: 0.2rem;
    justify-items: center;
    width: 50%;
}

.sun_rise_box span,
.sun_set_box span {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 25px;
    cursor: context-menu;
    color: #E5E5E5;
}

#sun_rise_time,
#sun_set_time {
    font-size: 20px;
    color: #E5E5E5;
}

.wind_speed_box,
.humidity_box,
.cloud_cover_box,
.uv_index_box,
.pressure_box,
.visibility_box {
    text-align: center;
    /* background-color: aquamarine; */
}

.hr {
    width: 55%;
    color: #F1F7FB;
    align-self: center;
    margin: auto;
}

.other_details {
    grid-template-columns: repeat(2, 1fr);
}

.other_details label {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 20px;
    margin-left: 2%;
    color: #E5E5E5;
}

#wind_speed_value,
#humidity_value,
#cloud_cover_value,
#uv_index_value,
#pressure_value,
#visibility_value {
    font-weight: 350;
    font-size: 23px;
    color: #E5E5E5;
}

.hourly_forecast {
    padding: 10px;
    border-radius: 0.3rem;
    opacity: o.5;
    background-color: #29282C;
    margin: 2px;
}

.lbl_hourly_forecast,
.lblDailyForecast,
.title_map {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-size: 18px;
    color: #E5E5E5;
}

.hr-1 {
    width: 95%;
    color: #E5E5E5;
    margin: auto;
}

.fisrt_hour,
.second_hour,
.third_hour,
.fourth_hour,
.fiveth_hour,
.sixth_hour {
    width: 80%;
    min-width: 165px;
    margin-bottom: 15px;
    margin-left: 15px;
    text-align: center;
    border: #8fe0ff 1px solid;
    border-radius: 5px 20px;
}

#first_hour_value,
.first_hour_status,
#second_hour_value,
.second_hour_status,
#third_hour_value,
.third_hour_status,
#fourth_hour_value,
.fourth_hour_status,
#fiveth_hour_value,
.fiveth_hour_status,
#sixth_hour_value,
.sixth_hour_status {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    color: #E5E5E5;

}

.first_hour_temperature,
.second_hour_temperature,
.third_hour_temperature,
.fourth_hour_temperature,
.fiveth_hour_temperature,
.sixth_hour_temperature {
    font-family: "Varela Round", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 30px;
    color: #E5E5E5;
}

#first_hour_value,
#second_hour_value,
#third_hour_value,
#fourth_hour_value,
#fiveth_hour_value,
#sixth_hour_value {
    font-size: 19px;
}

.first_hour_status,
.second_hour_status,
.third_hour_status,
.fourth_hour_status,
.fiveth_hour_status,
.sixth_hour_status {
    font-size: 19px;
}

.fisrt_hour span,
.second_hour span,
.third_hour span,
.fourth_hour span,
.fiveth_hour span,
.sixth_hour span {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 30px;
}

.day_forecast {
    background-color: #29282C;
    border-radius: 0.4rem;
}

.first_day {
    width: 100%;
}

.column_1,
.column_5,
.column_6 {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-optical-sizing: auto;
    color: #E5E5E5;
}

.column_1 {
    font-size: 22px;
}

.column_5,
.column_6 {
    font-size: 20px;
}

.column_2 {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #E5E5E5;
}

.tbl_header{
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-size: 17px;
    color: #E5E5E5;
    padding: 10px;
}

.title_map{
    margin-top: 9px;
}

.map_box{
    background-color: #29282C;
    border-radius: 0.3rem;
}

iframe{
    width: 85%;
    height: 500px;
    min-height: 400px;
    border-radius: 1em;
    opacity: 0.7;
    transition: 0.3s ease-in-out; 
}

iframe:hover{
    transform: scale(1.01);
    opacity: 1;
}

.title_map{
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-size: 17px;
    color: #E5E5E5; 
}